/* --------------
   *   menu  *
* ------------ */

.l-menu {
    /*overflow: hidden;*/
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.l-menu-arrow-left::before{
    border-bottom: 7px solid #ffffff;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    left: 9px;
    position: absolute;
    top: -6px;
}

.l-menu-arrow-right::before{
    border-bottom: 7px solid #ffffff;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    right: 9px;
    position: absolute;
    top: -6px;
}

/*.l-menu::before{
    border-bottom: 7px solid #ffffff;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    top: -6px;
    left: auto;
    right: 9px;
}*/

.l-menu-shadow {
    /*z-index: 1000;
    FILTER: progid: DXImageTransform . Microsoft . Blur(pixelRadius = 2, MakeShadow = false, ShadowOpacity = 0.2);
    BACKGROUND: #ddd;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    position: absolute;*/
}

.l-menu-inner {
    position: relative;
    width: 100%;
    z-index: 103;
}

.l-menu-over {
    position: absolute;
    top: -28px;
    /*left: 2px;*/
    z-index: 102;
    height: 28px;
    overflow: hidden;
    /*background: url('../images/menu/menu-item-over-m.gif') repeat-x;*/
    /*position: relative;*/
    /*padding-left: 10px;*/
    /*color: #183152;*/
    /*font-weight: bold;*/
    /*height: 32px;*/
    /*line-height: 32px;*/
    /*background-image: url(../images/textures/highlight.png);*/
    /*background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.6)),to(rgba(255,255,255,0)));*/
    /*background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.6) 0,rgba(255,255,255,0) 100%);*/
    /*background-image: none,linear-gradient(to bottom,rgba(255,255,255,.6) 0,rgba(255,255,255,0) 100%);*/
    /*background-repeat: repeat-x;*/
    /*background-color: #e7e7e7;*/
    /*overflow: hidden;*/
    cursor: pointer;
    width: 100%;
}

.l-menu-yline {
/*    background: url('../images/menu/menu-line-y.gif') repeat-y;
    width: 2px;
    height: 2000px;
    position: absolute;
    left: 28px;
    top: 1px;
    z-index: 101;*/
}

.l-menu-over-l {
    /*background: url('../images/menu/menu-item-over-l.gif') no-repeat;*/
    /*width: 28px;*/
    /*height: 28px;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
}

.l-menu-over-r {
    /*background: url('../images/menu/menu-item-over-r.gif') no-repeat;*/
    /*width: 3px;*/
    /*height: 28px;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
}

.l-menu-item {
    position: relative;
    height: 28px;
    line-height: 28px;
    width: 100%;
    cursor: pointer;
}

.l-menu-item-line {
    background: url('../images/menu/menu-line-x.gif') repeat-x;
    height: 2px;
    /*width: 100%;*/
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 30px;
    line-height: 2px;
    overflow: hidden;
}

.l-menu-item-arrow {
    background: url('../images/menu/menu-item-arrow.gif') no-repeat;
    position: absolute;
    top: 8px;
    right: 9px;
    width: 4px;
    height: 7px;
}

.l-menu-item-text {
    color: #000000;
    left: 33px;
    position: absolute;
    top: 0;
    font-size: 12px;
}

.l-menu-item-icon {
    left: 14px;
    top: 6px;
    position: absolute;
    overflow: hidden;

    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.l-menu-item-disable {
    cursor: default;
}

.l-menu-item-disable .l-menu-item-text {
    color: #A1A1A1;
}

.l-menubar.l-menu-horizontal .l-menubar-item{
    position: relative;
    float: left;
    border-style: solid;
    border-color: #d5d5d5;
    border-width: 0 1px 0 0;
    vertical-align: top;
    min-width: 80px;
    text-align: center;
    zoom: 1;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.l-menubar.l-menu-horizontal .l-menubar-item:hover{
    background-color: #e7e7e7;
}

/*
    菜单条
*/
.l-menubar {
    margin: 0;
    padding: 0;
    zoom: 1;
    border: 1px solid #eae8e8;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    box-sizing: content-box;
    background-color: #f8f8f8;

}


.l-menubar-item-down{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    width: 7px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 4px;
    _top: 4px;
}

.l-menubar-item-down:before{
    content: "\f107";
}

.l-menubar-item.l-panel-btn-selected{
    background-color: #e7e7e7 !important;
}

.l-menubar-item-over {
}
